*{
    margin: 0px;
    padding: 0px;
}
.banner-container{
    background-image: url('./images/donation9.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 120px;
}
.banner-title{
    font-size: 60px;
    font-weight: 700;
    color: white;
    margin-bottom: 30px;
}
.banner-description{
    font-size: 20px;
    color: white;
    margin-bottom: 20px;
}
.banner-btn{
    margin-top: 20px;
    
}
.btn{
    background-color: orangered;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    border: none;
    font-size: 20px;
}
.donate-today{
    text-align: center;
    margin-bottom: 70px;
}
.donate-title{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
}
.donate-description{
    font-size: 20px;
    margin-bottom: 20px;
    
}
.donation-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 400px;
    margin-bottom: 80px;
    text-align: center;
    
}
.donation-cost{
    background-color: cyan;
    color: black;
    width: 100px;
    height: 50px;
    font-weight: 600;
    font-size: 30px;
    padding-top: 20px;
    border-radius: 5px;
}
.donation-costful{
    background-color: crimson;
    color: white;
    width: 100px;
    height: 50px;
    font-weight: 600;
    font-size: 30px;
    padding-top: 20px;
    border-radius: 5px;
}
.donation-amount{
    margin-bottom: 100px;
    text-align: center;
}
.donation-description{
    font-size: 18px;
}
.our-donate{
    text-align: center;
    margin-bottom: 70px;
}
.card-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
    gap: 25px;
    margin-bottom: 130px;
}
.card-body{
    background-color: rgba(222, 184, 135, 0.673);
    border-radius: 5px;
    padding: 35px 15px;
}
.food-items{
    font-size: 30px;
}
.help-section .help{
    display: block;
}
.help-section{
    display: flex;
    margin: 0px 200px;
    gap: 100px;
    margin-bottom: 120px;
}
.get-my-updates{
    text-align: center;
    margin-bottom: 20px;
    margin: 0px 200px;
    margin-bottom: 100px;

}
.update-description{
    font-size: 18px;
    font-weight: 500;
}

.form-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    background-color: bisque;
    margin: 0px 350px;
    border-radius: 10px;
    margin-bottom: 100px;
}
input{
    height: 44px;
    width: 30%;
    padding: 0px 10px;
    border-radius: 5px;
    background-color: rgba(128, 128, 128, 0.256);
    border: none;
}
.footer{
    background-color: black;
}
.footer-section{
  
    height:80px;
    text-align: center;
    color: #fff;

}
